<form asp-action="Create" method="post" enctype="multipart/form-data">
    <input asp-for="Title" class="form-control" />
    <input asp-for="Price" class="form-control" />
    
    <input asp-for="Photo" type="file" class="form-control" accept="image/*" />

    <button type="submit">Yadda saxla</button>
</form>